* {
    margin-left: 10px;
}

header {
    display: flex;
    width: 100%;
}

.logoDAE {
    height: 100px;
}

.logo {
    width: 30%;
}

.titulo {
    width: 70%;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h4 {
    text-align: left;
}

input, select {
    margin-top: 10px;
}

hr {
    border: 2px solid black;
}

#processo, #hidrometro, #numero {
    width: 95px;
}

#nome, #rua, #bairro, #telefone {
    width: 60%;
}

.tela2 {
    margin-top: 100px;
}

p {
    margin-top: 100px;
}

.center {
    text-align: center;
}

button a {
    text-decoration: none;
}
